.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

$darkBckgrnd: #282c34;

header {
  margin-bottom: 20px;
  padding: 10px;
  background-color: $darkBckgrnd;
  color: white;
}

#container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 10px;
  width: auto;
  height: auto;
  gap: 50px;
  box-sizing: border-box;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

#submissionForm {
  @include flexColumn;
  grid-column: 1;
  margin: 0 auto;
  width: 95%;
}

#myTable {
  grid-column: 2;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

@media all and (max-width: 600px) {
  #container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #submissionForm {
    @include flexColumn;
    grid-row: 1;
    margin: 20px auto;
    align-items: center;
  }
  #myTable {
    grid-row: 2;
    margin: 10px auto;
  }
}

input {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
}

#submitBtn {
  margin: 5px;
  padding: 5px;
  max-width: 70px;
  background-color: $darkBckgrnd;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #58597c;
  }
}

.editBtn {
  @extend #submitBtn;
}

@mixin cellStyles {
  border: 1px solid black;
  padding: 7px;
}

th {
  @include cellStyles;
  background-color: #cdd0ff;
}

td {
  @include cellStyles;
}

tr {
  background-color: #dbdfff;
  &:hover {
    background-color: #e8e8ff;
  }
}
