.container {
    width: 100vw;
    height: 100vh;
    background: #fce6ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 273px;
    margin: 5px;
    height: 60px;
    background: #979BCA; 
    text-align: right;
    font-size: 40px;
}

.num {
    width: 60px;
    height: 60px;
    margin: 5px;
    background: hsl(235, 32%, 69%); 
    cursor: pointer;
}

.operation {
    width: 60px;
    height: 60px;
    margin: 5px;
    background: hsl(235, 32%, 69%); 
    cursor: pointer;
}

#AC {
    width: 60px;
    height: 60px;
    margin: 5px;
    background: hsl(235, 32%, 69%); 
    cursor: pointer;
}

#DE {
    width: 60px;
    height: 60px;
    margin: 5px;
    background: hsl(235, 32%, 69%); 
    cursor: pointer;
}

#equal {
    height: 60px;
    width: 209px;
    margin: 5px;
    background: hsl(235, 32%, 69%); 
    cursor: pointer;
}

#DE:hover {
    background: hsl(235, 32%, 59%); 
}

#AC:hover {
    background: hsl(235, 32%, 59%); 
}

.num:hover {
    background: hsl(235, 32%, 59%); 
}

.operation:hover {
    background: hsl(235, 32%, 59%); 
}

#equal:hover {
    background: hsl(235, 32%, 59%); 
}












