.App {
  text-align: center;
  margin: 0;
}

header {
  background-color: #282c34;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

#submissionForm {
  margin: auto; 
  width: 80%; 
  grid-column: 1;
} 

input {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 5px;
  background-color: #282c34;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100px;
  margin: 5px;
}

button:hover {
  background-color: #58597c;
}

#myTable {
  grid-column: 2;
  background-color: #dbdfff;
  border-collapse: collapse;
  border-radius: 5px;
  width: 90%;
}

th {
  background-color: #cdd0ff;
}

th, td {
  border: 1px solid black; 
  padding: 7px;
  
}

tr:hover {
  background-color: #e8e8ff;
}




