.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
}

#container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 10px;
  width: auto;
  height: auto;
  gap: 50px;
}

#submissionForm {
  width: calc(100% - 40px);
  grid-column: 1;
  margin: auto;
}

#myTable {
  grid-column: 2;
  background-color: #dbdfff;
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
}

@media all and (max-width: 600px) {
  #container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #submissionForm {
    grid-row: 1;
    margin: 20px auto;
  }
  #myTable {
    grid-row: 2;
    margin: 10px auto;
  }
}

input {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 5px;
  background-color: #282c34;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #58597c;
}

th {
  background-color: #cdd0ff;
}

th, td {
  border: 1px solid black;
  padding: 7px;
}

tr:hover {
  background-color: #e8e8ff;
}




